{
  "CN": "kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{k8s.ca_config.C}}",
      "L": "{{k8s.ca_config.L}}",
      "O": "Kubernetes",
      "OU": "{{k8s.ca_config.OU}}",
      "ST": "{{k8s.ca_config.ST}}"
    }
  ]
}
